.breath-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px

}

.breath-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: radial-gradient(circle at 30% 30%, #6ecff6, #3a9bdc, #256fa1);
  box-shadow:
    0 0 40px rgba(54, 174, 255, 0.4),
    0 0 40px rgba(54, 174, 255, 0.3),
    0 0 60px rgba(54, 174, 255, 0.2);
  position: relative;
  overflow: hidden;
  filter: blur(0.3px);
}

.breath-label {
  margin-top: 150px;
  font-size: 1.5rem;
  color: #3a9bdc;
}

.breath-countdown {
  margin-top: 20px;
  font-size: 2rem;
  color: #256fa1;
  font-weight: bold;
}

.breath-circle::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image:url("/images/rippleEffect.jpg");
  background-repeat: repeat;
  background-size: 30% 30%;
  animation: shimmer 10s linear infinite;
  opacity: 0.3;
  pointer-events: none;
  border-radius: 50%;
  z-index: 1;
}

@keyframes shimmer {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}

